
html{
    padding: 0px;
    margin: 0px;
    top: 0px;
}

h2{
    padding: -10px;
    margin: 0px;
    
    line-height: 30px;
}

h3{
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#container{
    background: linear-gradient(120deg, rgba(7,7,41,1) 15%, rgba(32,255,254,1) 60%, rgba(32,255,254,0) 90%); /* for Dev?*/

    height: 100px;
    width: 500px;

    padding: 10px;
    margin: 10px;

    color: white;
    font-family:'Segoe UI';
    line-height: 10px;

    display: grid;
    grid-template-columns: 100px auto;
    border-radius: 16px;
}

#imagebox{
    height: 100px;
    width: 100px;
}

#songimage{
    border-radius: 14px;

}

#infobox{
    margin: 10px;
}

#songname{

}

#artist{

}

#progressbox{
    align-items: center;
    display: grid;
    height: 20px;
    grid-template-columns: 35px max-content 35px;
    gap:5px;
}

#songcurrenttime{
    margin-right: 5px;
}

#progressbar{
    width: 200px;
    height: 10px;
    background-color:darkgray;

    border-radius: 10px;
}

#progress{
    border-radius: 10px;
    background-color: white;
    height: 100%;
    width: 0%;
    transition: width 1s;
}

#songendtime{
}