<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OVERLAY</title>
    <link rel="stylesheet" href="../themes/<%= activetheme %>">
</head>
<body>
        <div id="container">
            <h2 id="songname">TEST</h2>
        </div>
</body>
</html>